.ant-radio-wrapper-checked {
  .ant-radio-checked {
    .ant-radio-inner {
      &::after {
        border-radius: 0px;
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        inset-inline-start: 21.5%;
        display: table;
        width: 5.7142857142857135px;
        height: 9.142857142857142px;
        border: 2px solid #fff;
        border-top: 0;
        border-inline-start: 0;
        transform: rotate(45deg) scale(1) translate(-50%, -50%);
        transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
        background-color: var(--color-primary);
        margin-block-start: 0;
        margin-inline-start: 0;
        border-block-start: 0;
      }
    }
  }
}




