@font-face {
  font-family: "iconfont"; /* Project id 4337171 */
  src: url('iconfont.woff2?t=1700405844953') format('woff2'),
       url('iconfont.woff?t=1700405844953') format('woff'),
       url('iconfont.ttf?t=1700405844953') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  /* font-size: 16px; */
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-download:before {
  content: "\e614";
}

.icon-folder:before {
  content: "\e61f";
}

.icon-left:before {
  content: "\e628";
}

.icon-right:before {
  content: "\e642";
}

.icon-search:before {
  content: "\e648";
}

.icon-add:before {
  content: "\e6b9";
}

.icon-delete:before {
  content: "\e67e";
}

.icon-share:before {
  content: "\e68b";
}

.icon-mobilephone:before {
  content: "\e72a";
}

.icon-list:before {
  content: "\e667";
}

.icon-password:before {
  content: "\e82b";
}

.icon-sync:before {
  content: "\e786";
}

.icon-image:before {
  content: "\e7de";
}

.icon-grid:before {
  content: "\e656";
}

.icon-Upload-folder:before {
  content: "\e6bb";
}

.icon-settings:before {
  content: "\e699";
}

.icon-collection:before {
  content: "\e69e";
}

.icon-disk-drive:before {
  content: "\e8a8";
}

.icon-back:before {
  content: "\e601";
}

.icon-DataTransfer-:before {
  content: "\ea95";
}

.icon-lightning:before {
  content: "\e65b";
}

.icon-minimize:before {
  content: "\e7bf";
}

.icon-maximize:before {
  content: "\e7c0";
}

.icon-window-maximize:before {
  content: "\e679";
}

.icon-APPLICATION:before {
  content: "\e9f9";
}

.icon-chenggong_finished:before {
  content: "\e60f";
}

.icon-upload_file:before {
  content: "\e619";
}

.icon-transfer_vertical_line:before {
  content: "\e7c2";
}

.icon-close:before {
  content: "\e839";
}

.icon-resource-twoziyuan2:before {
  content: "\e857";
}

.icon-resourceziyuan:before {
  content: "\e858";
}

